.approve-page {
  min-height: 100vh;
}

.approve-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 25px;
}

/* lista de eventos */
.approve-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* card do evento */
.approve-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.approve-card h3 {
  margin-bottom: 10px;
}

/* descrição */
.approve-desc {
  margin: 10px 0;
  color: #555;
}

/* botões */
.approve-actions {
  display: flex;
  gap: 10px;
}

.approve-btn {
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.approve-btn-yes {
  background-color: #07635D;
  color: white;
}

.approve-btn-yes:hover {
  background-color: #058076;
}

.approve-btn-no {
  background-color: #b84040;
  color: white;
}

.approve-btn-no:hover {
  background-color: #a53030;
}
