:root{
  --sidebar-width: 310px;       /* espaçamento entre a sidebar e o conteúdo */
  --sidebar-collapsed: 100px;   /* espaçamento entre a sidebar e o conteúdo quando fechada */
  /* --header-height: 60px; */
}

.app-container {
  display: flex;
}

/* conteúdo principal */
.content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  margin-top: var(--header-height);
  margin-left: var(--sidebar-collapsed);
  transition: margin-left 0.3s ease;
}

/* quando a sidebar está aberta */
.content-shift {
  margin-left: var(--sidebar-width);
}
